.about-me-container {
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 60px 0px;
}

.about-me-container h2 {
    color: #FAFA00;
}

.about-me-container .image-n-info {
    padding-top: 25px;
    background-color: #241B2F;
}

.about-me-container .image {
    border-bottom: 1px solid #36F9EA;
    width: 100%;
    display: grid;
    place-items: center;
}

.about-me-container .image img {
    width: 250px;
    border-radius: 50%;
    border: 3px solid #FAFA00;
}

.about-me-container .image p {
    text-align: center;
    color: #8F8F8F;
    margin-top: 15px;
}

.about-me-container .info {
    display: grid;
    place-items: center;
}

.about-me-container .info p {
    color: #FFF;
    padding: 15px;
}

@media screen and (max-width:768px) {

    .about-me-container .image img {
        width: 200px;
    }

    .about-me-container .image p {
        margin-top: 0px;
    }
}