.certification {
    width: 60%;
    border-radius: 100px;
    background-color: #262335;
    margin: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.image {
    width: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.image img {
    width: 100%;
}

.info {
    color: #FFF;
    width: 70%;
}

.info h3 {
    color: #FAFA00;
    font-size: 20px;
    font-weight: normal;
}

.info ul {
    list-style: none;
}

.info ul li {
    margin-top: 3px;
    display: flex;
}

.info ul li i {
    cursor: copy;
    margin-left: 10px;
}

.info ul li .call-to-copy {
    margin-left: 5px;
    font-weight: normal;
}

.cert-key {
    color: #FF7EDB;
    font-weight: normal;
    font-size: 16px;
}

.cert-value {
    font-weight: normal;
    color: #27C2EA;
    font-size: 16px;
}

.cert-value-string {
    font-weight: normal;
    color: #FF7E37;
    font-size: 16px;
}

.link {
    display: grid;
    place-items: center;

}

.link a {
    color: rgb(122, 0, 133);
}

.link i {
    font-size: 50px;
}

@media screen and (max-width: 975px) {
    .certification {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .certification {
        width: 95%;
    }
}

@media screen and (max-width: 610px) {
    .image {
        width: 50px
    }

    .info h3 {
        font-size: 15px;
    }

    .cert-key, .cert-value, .cert-value-string, .call-to-copy, li>i{
        font-size: 12px;
    }
}