@keyframes imageTransition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.projects-container{
    margin-top: 44px;
}
.img-container{
    display: grid;
    place-items: center;
}
.img-container img{
    width: 75%;
    animation: imageTransition 500ms;
}