.projects-container {
    background-color: rgba(255, 255, 255, 0.05);
    margin-top: 60px;
    padding: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-container .title {
    color: #FAFA00;
    text-align: center;
    padding: 45px 0px 15px 0px;
}

.splide-container {
    display: grid;
    place-items: center;
    margin-top: 44px;
    position: relative;
}

.img-container {
    display: grid;
    place-items: center;
}

@media screen and (max-width: 768px) {
    .projects-container {
        height: auto;
    }

    .splide-container {
        margin-top: 4px;
        position: static;
        
    }

    .projects-container .title {
        padding: 0px 0px 15px 0px;
        margin: 50px 0px 0px 0px;
    }
}