.projects-container{
    background-color: rgba(255, 255, 255, 0.05);
    height: 100vh;
    display: grid;
    place-items: center;
}
.img-container{
    display: grid;
    place-items: center;
    position: relative;
}
.img-container img{
    width: 75%;
}