.project-container{
    display: grid;
    place-items: center;
    width: 75%;
}
.project-container:hover .description-container {
    display: block;
}

@keyframes showDescriptionContainer {
    0% {
        opacity: 0;
        bottom: -100%;
    }
    50%{
        opacity: 0.25;
        bottom: -50%;
    }
    100% {
        opacity: 1;
        bottom: 0%;
    }
}

.carousel-img{
    width: 100%;
}

.description-container {
    animation: showDescriptionContainer 500ms;
    padding: 20px;
    width: 75%;
    height: 50%;
    background-color: rgba(36, 27, 47, 0.85);
    position: absolute;
    bottom: 0px;
    display: none;
}

.description-container h2 {
    font-weight: bolder;
    color: #FAFA00;
    text-align: center;
    padding-top: 15px;
}

.description-container p {
    padding: 15px;
    font-size: 14px;
    color: #FFF;
}

.project-details {
    display: flex;
    justify-content: space-around;
    color: #FFF;
}

.project-details ul li {
    color: #FFF;
    list-style: none;
}

.project-role {
}

.project-technologies {
}

.project-made-by {
}
