.description-container{
    padding: 20px;
    width: 75%;
    height: 50%;
    background-color: rgba(36,27,47,0.85);
    position: absolute;
    bottom: 0px;
}
.description-container h2{
    font-weight: bolder;
    color: #FAFA00;
    text-align: center;
    padding-top: 15px;
}
.description-container p {
    padding: 15px;
    font-size: 14px;
    color: #FFF;
}