.about-and-skills-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

@media screen and (max-width:640px) {
    .about-and-skills-container {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}